#calc{
    display: none;
    align-content: stretch;
    position: absolute;
    top:50%;
    left:50%;
    z-index: 1000000;
    background-color: #258ECD;
    padding: 10px;
    border: white solid 5px;
    width: 332px !important;
}

#calc input{
    width: 46px;
    height: 25px;
    margin: 5px;
    background-color:#ffffff;
    border-radius: 20px;
    border:1px solid #0D77B6;
    color:#47a4da;
    font-size:15px;
    text-align:center;
}

#calc input:hover {
    color: #ffffff;
    background-color:#47a4da;
}


#showCalc{
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.visible{
    display: block !important;
}