<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.aestheticdevelopment.solvesall"
        version     = "1.0.0" >

    <name>solvesAll</name>

    <description>
        A JavaScript application with the goal of solving all math problems simply and quickly
    </description>

    <author email="gavincrenshaw95@gmail.com">
        Gavin Crenshaw
    </author>

    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <!--<icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />-->
    <!--<icon src="icon.png" gap:platform="android" gap:qualifier="mdpi" />-->
    <!--<icon src="icon.png" gap:platform="android" gap:qualifier="hdpi" />-->
    <!--<icon src="icon.png" gap:platform="android" gap:qualifier="xhdpi" />-->
    <!--<icon src="icon.png" gap:platform="android" gap:qualifier="xxhdpi" />-->
    <!--<icon src="icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />-->

    <!--&lt;!&ndash; iPhone / iPod Touch  &ndash;&gt;-->
    <!--<icon src="icon.png" gap:platform="ios" width="60" height="60" />-->
    <!--<icon src="icon.png" gap:platform="ios" width="120" height="120" />-->

    <!--&lt;!&ndash; iPad &ndash;&gt;-->
    <!--<icon src="icon.png" gap:platform="ios" width="76" height="76" />-->
    <!--<icon src="icon.png" gap:platform="ios" width="152" height="152" />-->

    <!--&lt;!&ndash; Settings Icon &ndash;&gt;-->
    <!--<icon src="icon.png" gap:platform="ios" width="29" height="29" />-->
    <!--<icon src="icon.png" gap:platform="ios" width="58" height="58" />-->

    <!--&lt;!&ndash; Spotlight Icon &ndash;&gt;-->
    <!--<icon src="icon.png" gap:platform="ios" width="40" height="40" />-->
    <!--<icon src="icon.png" gap:platform="ios" width="80" height="80" />-->

</widget>
