<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.aestheticdevelopment.solvesall"
        version     = "1.0.0" >

    <name>solvesAll</name>

    <description>
        A JavaScript application with the goal of solving all math problems simply and quickly
    </description>

    <author email="gavincrenshaw95@gmail.com">
        Gavin Crenshaw
    </author>

    <gap:plugin name="org.apache.cordova.splashscreen" />

    <preference name="phonegap-version" value="3.3.0" />
    <preference name="auto-hide-splash-screen" value="false" />

    <icon src="icon.png" />
    <gap:splash src="splash.png" />


</widget>
