#showCalc{
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.visible{
    left: 0 !important;
}

.showRight{
    left: 100%;
}

.hideRight{
    left: -100%;
}

#rim{
    top: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#rim div {
    padding: 0;
    width: 100%;
}

#main {
    width: 100%;
}

#keypad {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 15px 4px 4px 4px;
}

#keypad > div {
    height: 75px;
    font-size: 28px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid black;
}

#keypad > div.display > input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50pt;
    height: 75px;
    width: 95%;
    text-align: right;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0;
}

#keypad > div > div {
    padding-top: 15px;
    border-right: 1px solid black;
    width: 24.5%;
    text-align: center;
    background-color: #FFFFFF;
    color: #272727;
    display: inline-block;
    height: 100%;
    float:left;
}

#keypad > div.horizontal.display {
    border: none;
    margin-bottom: 20px;
}

#keypad > div > div.double-wide {
    width: 49.1%;
}

.num-key {
    background-color: #FFFFFF;
}

#keypad > div > div.control-key {
    background-color: #0d77b6;
    color: #fff;
}

#keypad > div > div.operation-key {
    background-color: #258ECD;
    color: #fff;
}